.item {
    .figure {
       position: relative; 
    }
}

.member {
    @include media-breakpoint-down(md) {
        ul {
            border-top: 1px solid $gray-300;
            li {
                margin-right: 1rem;
                display: inline-block;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.section-step {
//    opacity: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    &.section-active {
        animation: fadeIn .5s;
//        opacity: 1;
        height: auto;
        visibility: visible;
    }
}

#section-acc {
    .item {
        &.border {
            border: 0 !important;
            background: rgba($primary, .2);
        }
    }
}


.chk {
    display: none;
    + label {
        display: block;
        margin: 0;
        cursor: pointer;
//        @include transition(all .5s ease);
//        &:hover {
//            background: $select-bg;
//            color: $select-text;
//        }
    }
    &:checked + label {
        border-color: $primary !important;
        .fa-check {
            display: block;
        }
        .bg-gray-6 {
            background: $primary;
        }
        .box-price {
            > div {
                color: $white !important;
            }
        }
        .box-price-month {
            background-color: $primary;
        }
        .box-price-total {
            background-color: $warning;
        }
        .btn {
            background-color: $primary;
            color: $white;
        }
    }
}

.box-select {
    position: relative;
    .fa-check {
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 10;
        display: none;
    }
    .bg-gray-6 {
        &.text-row-2 {
            height: 3.2rem;
        }
    }
//    &.active,
//    &:focus {
//        border-color: $primary !important;
//        .fa-check {
//            display: block;
//        }
//        .bg-gray-6 {
//            background: $primary;
//        }
//    }
}

#section-main {
    .custom-radio {
        margin: 0;
        padding: 0;
        .custom-control-label {
            padding: .25rem 1rem;
            border: 1px solid $gray-600;
            cursor: pointer;
            &:hover {
                background-color: $primary;
                border-color: $primary;
                color: $white;
            }
        }
        .custom-control-label::before {
            background: none;
        }
        .custom-control-input {
//            display: none;
            &:focus ~ .custom-control-label::before {
                box-shadow: none;
            }
        }
        .custom-control-input:checked ~ .custom-control-label {
            background-color: $primary;
            border-color: $primary;
            color: $white;
            &::before,
            &::after {
                background: none;
            }
        }
    }
}
#section-checkout {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    &.section-active {
        -webkit-animation: zoomIn ease-in 1;
        animation: zoomIn ease-in 1s;
    }
}
@keyframes zoomIn {
    from {
        opacity: 0;
        bottom: 50%;
//    -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
        transform: scale3d(1,1,1);
    }
    80% {
        bottom: 60%;
    }
    100% {
        opacity: 1;
        bottom: 0;
    }
}

.title-pk {
    .col {
        position: relative;
        .lead {
            line-height: 30px;
        }
        &:before {
            position: absolute;
            width: 0;
            height: 0;
            display: block;
            content: '';
            border-style: solid;
        }
    }
    .col-official {
        padding-right: 7rem;
        background-color: $warning;
        text-align: right;
        &:before {
            left: 0;
            border-width: 15px 15px 15px 0;
            border-color: $white $warning $white $white;
        }
    }
    .col-telecom {
        padding-left: 7rem;
        background-color: $info;
        &:before {
            right: 0;
            border-width: 15px 0 15px 15px;
            border-color: $white $white $white $info;
        }
    }
}

.mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba($black,.7);
}