<div>
    <div class="container mb-8">
        @@include('unit/_content-title.html',{
            title:'@@title'
        })
        <div class="pt-2 readmore-intro">
            <div class="table-responsive">
                <table class="table">
                  <tr class="table-active">
                    <th colspan="2">硬體效能</th>
                  </tr>
                    <tr>
                      <th class="active" width="20%">作業系統與版本</th>
                      <td>Android 7.1</td>
                    </tr>
                    <tr>
                      <th class="active" width="20%">處理器品牌</th>
                      <td>Qualcomm</td>
                    </tr>
                    <tr>
                      <th class="active" width="20%">處理器型號</th>
                      <td>Snapdragon 450</td>
                    </tr>
                    <tr>
                      <th class="active" width="20%">處理器時脈</th>
                      <td>1.8 GHz</td>
                    </tr>
                    <tr>
                      <th class="active" width="20%">處理器核心數</th>
                      <td>8</td>
                    </tr>
                    <tr>
                      <th class="active" width="20%">圖形處理器</th>
                      <td>Adreno 506</td>
                    </tr>
                    <tr>
                      <th class="active" width="20%">RAM記憶體</th>
                      <td>3 GB</td>
                    </tr>
                    <tr>
                      <th class="active" width="20%">ROM儲存空間</th>
                      <td>32 GB</td>
                    </tr>
                    <tr>
                      <th class="active" width="20%">記憶卡</th>
                      <td>microSD</td>
                    </tr>
                    <tr>
                      <th class="active" width="20%">電池容量</th>
                      <td>3300 mAh</td>
                    </tr>
                    <tr>
                      <th class="active" width="20%">最大待機時間</th>
                      <td>12 day</td>
                    </tr>
                  <tr class="table-active">
                    <th colspan="2">顯示螢幕</th>
                  </tr>
                    <tr>
                      <th class="active" width="20%">主螢幕尺寸</th>
                      <td>5.7 inch</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>