<div>
    <div class="container mb-8">
        @@include('unit/_content-title.html',{
            title:'@@title'
        })
        <div class="pt-2">
            <div class="row">
                @@loop('unit/_content-article-item.html', [
                    {
                        img:'assets/images/uploads/news-sogi-thumb.jpg',
                        title:'適合開車的旅客',
                        desc:'在agoda訂房有註明有2歲小孩，飯店有提供嬰兒床，但要主動詢問才會幫忙準備，整體來說是值得入住的飯店在agoda訂房有註明有2歲小孩，飯店有提供嬰兒床，但要主動詢問才會幫忙準備，整體來說是值得入住的飯店在agoda訂房有註明有2歲小孩，飯店有提供在agoda訂房有註明有2歲小孩，飯店有提供嬰兒床，但要主動詢問才會幫忙準備，整體來說是值得入住的飯店在agoda訂房有註明有2歲小孩，飯店有提供嬰兒床，但要主動詢問才會幫忙準備，整體來說是值得入住的飯店在agoda訂房有註明有2歲小孩，飯店有提供',
                        date:'2022/5/1', hot:'355', comment:'10'
                    },
                    {
                        img:'assets/images/uploads/news-sogi-thumb.jpg',
                        title:'紅米Note 5 Pro規格與外型全曝光',
                        desc:'小米除了將紅米 5 與紅米 5 Plus 加入 18：9 螢幕規格外。外傳紅米 Note 系列新品也將採用 18：9 比例螢幕，最新消息指出除了紅米 Note 5 即將發表，還會同步推出雙鏡頭版本的紅米 Note 5 Pro。國外網站 OnPhones 揭露，紅米 Note 5 系列新機的外型與詳細',
                        date:'2022/2/10', hot:'1600', comment:'0'
                    },
                    {
                        img:'assets/images/uploads/news-sogi-thumb.jpg',
                        title:'適合開車的旅客',
                        desc:'在agoda訂房有註明有2歲小孩，飯店有提供嬰兒床，但要主動詢問才會幫忙準備，整體來說是值得入住的飯店在agoda訂房有註明有2歲小孩，飯店有提供嬰兒床，但要主動詢問才會幫忙準備，整體來說是值得入住的飯店在agoda訂房有註明有2歲小孩，飯店有提供在agoda訂房有註明有2歲小孩，飯店有提供嬰兒床，但要主動詢問才會幫忙準備，整體來說是值得入住的飯店在agoda訂房有註明有2歲小孩，飯店有提供嬰兒床，但要主動詢問才會幫忙準備，整體來說是值得入住的飯店在agoda訂房有註明有2歲小孩，飯店有提供',
                        date:'2022/5/1', hot:'355', comment:'10'
                    },
                    {
                        img:'assets/images/uploads/news-sogi-thumb.jpg',
                        title:'紅米Note 5 Pro規格與外型全曝光',
                        desc:'小米除了將紅米 5 與紅米 5 Plus 加入 18：9 螢幕規格外。外傳紅米 Note 系列新品也將採用 18：9 比例螢幕，最新消息指出除了紅米 Note 5 即將發表，還會同步推出雙鏡頭版本的紅米 Note 5 Pro。國外網站 OnPhones 揭露，紅米 Note 5 系列新機的外型與詳細',
                        date:'2022/2/10', hot:'1600', comment:'0'
                    },
                ])
            </div>
        </div>
    </div>
</div>