<div>
    <div class="container mb-8">
        @@include('unit/_content-title.html',{
            title:'@@title'
        })
        <div class="pt-2 readmore-intro">
            <p>3,300mAh 電量 Xiaomi 紅米 5 配備 5.7 吋 HD+ 螢幕，採用 18：9 顯示比例，相較於 16：9 螢幕，無論看新聞、編輯文件、玩遊戲、地圖導航等，將享有更大的視野。Xiaomi 紅米 5 採用獨特的四角緩衝設計，為機身加入四角支撐結構，將衝擊力分解至機身後殼，降低四角觸地時碎螢幕機率；還將聽筒加入隔磁層、防水層的雙重防護，更可避免長時間使用後汗水、粉塵侵蝕導致的音量變小問題。此外，內建 3,300mAh 電量，可維持高達 12 天的超長續航。</p>
            <p>3,300mAh 電量 Xiaomi 紅米 5 配備 5.7 吋 HD+ 螢幕，採用 18：9 顯示比例，相較於 16：9 螢幕，無論看新聞、編輯文件、玩遊戲、地圖導航等，將享有更大的視野。Xiaomi 紅米 5 採用獨特的四角緩衝設計，為機身加入四角支撐結構，將衝擊力分解至機身後殼，降低四角觸地時碎螢幕機率；還將聽筒加入隔磁層、防水層的雙重防護，更可避免長時間使用後汗水、粉塵侵蝕導致的音量變小問題。此外，內建 3,300mAh 電量，可維持高達 12 天的超長續航。</p>
            <p>3,300mAh 電量 Xiaomi 紅米 5 配備 5.7 吋 HD+ 螢幕，採用 18：9 顯示比例，相較於 16：9 螢幕，無論看新聞、編輯文件、玩遊戲、地圖導航等，將享有更大的視野。Xiaomi 紅米 5 採用獨特的四角緩衝設計，為機身加入四角支撐結構，將衝擊力分解至機身後殼，降低四角觸地時碎螢幕機率；還將聽筒加入隔磁層、防水層的雙重防護，更可避免長時間使用後汗水、粉塵侵蝕導致的音量變小問題。此外，內建 3,300mAh 電量，可維持高達 12 天的超長續航。</p>
        </div>
    </div>
</div>