<div>
    <div class="container mb-8">
        @@include('unit/_content-title.html',{
            title:'@@title'
        })
        <div class="pt-2">
            <div class="row text-center">
                <div class="col-12 col-md-4 my-2">
                    <a href="" target="_blank">
                        <img class="img-fluid" src="assets/images/uploads/bn-350x175-1.jpg" alt="">
                    </a>
                </div>
                <div class="col-12 col-md-4 my-2">
                    <a href="" target="_blank">
                        <img class="img-fluid" src="assets/images/uploads/bn-350x175-2.jpg" alt="">
                    </a>
                </div>
                <div class="col-12 col-md-4 my-2">
                    <a href="" target="_blank">
                        <img class="img-fluid" src="assets/images/uploads/bn-350x175-3.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>