<div id="section-main">
    <div class="container mb-8">
        <div class="row">
            <div class="col-12 mb-2 d-md-none">
                <div class="h3 text-black font-weight-bold">@@title</div>
            </div>
            <div class="col-md-5 mt-2 mt-md-0">
                <div class="row slider-single">
                    <div class="col-12 text-center p-0">
                        <a href="assets/images/uploads/prod1_640x480.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="照片1">
                            <img src="assets/images/uploads/prod1_640x480.jpg" class="img-fluid mx-auto ratio-4x3" alt="太空灰色的Apple iPhone XS Max 256GB">
                        </a>
                    </div>
                    <div class="col-12 text-center p-0">
                        <a href="assets/images/uploads/prod1-2_640x480.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="照片1">
                            <img src="assets/images/uploads/prod1-2_640x480.jpg" class="img-fluid mx-auto ratio-4x3" alt="太空灰色的Apple iPhone XS Max 256GB">
                        </a>
                    </div>
                    <div class="col-12 text-center p-0">
                        <a href="assets/images/uploads/prod1-3_640x480.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="照片1">
                            <img src="assets/images/uploads/prod1-3_640x480.jpg" class="img-fluid mx-auto ratio-4x3" alt="太空灰色的Apple iPhone XS Max 256GB">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-7 order-md-last">
                <div class="d-none d-md-block">
                    <h1><div class="h3 text-black font-weight-bold">@@title</div></h1>
                </div>
                <hr class="my-2">
                <a class="mr-3" href="">
<!--                                <i class="fas fa-heart text-danger"></i> 已追蹤-->
                    <i class="far fa-heart text-danger"></i> 加入追蹤
                </a>
                <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
                <hr class="my-2">
                <form id="form-style">
                    <div class="h4 text-black font-weight-bold">Step.1 請選擇款式</div>
                    <div class="form-group row mb-2 align-items-lg-center no-gutters">
                        <label class="col-md-3 col-lg-2 col-form-label">商品顏色</label>
                        <div class="col-md-9 col-lg-10">
                            <div class="custom-control custom-radio custom-control-inline my-1">
                                <input type="radio" id="radio-color-1" name="radioColors" class="custom-control-input" required>
                                <label class="custom-control-label" for="radio-color-1">香檳色</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline my-1">
                                <input type="radio" id="radio-color-2" name="radioColors" class="custom-control-input" required>
                                <label class="custom-control-label" for="radio-color-2">紅色</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-2 align-items-lg-center no-gutters">
                        <label class="col-md-3 col-lg-2 col-form-label">申辦類別</label>
                        <div class="col-md-9 col-lg-10">
                            <div class="custom-control custom-radio custom-control-inline my-1">
                                <input type="radio" id="radio-type-1" name="radioTypes" class="custom-control-input" required>
                                <label class="custom-control-label" for="radio-type-1">新辦</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline my-1">
                                <input type="radio" id="radio-type-2" name="radioTypes" class="custom-control-input" required>
                                <label class="custom-control-label" for="radio-type-2">續約</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-2 align-items-lg-center no-gutters">
                        <label class="col-md-3 col-lg-2 col-form-label">電信業者</label>
                        <div class="col-md-9 col-lg-10">
                            <div class="custom-control custom-radio custom-control-inline my-1">
                                <input type="radio" id="radio-telecom-1" name="radioTelecoms" class="custom-control-input" required>
                                <label class="custom-control-label" for="radio-telecom-1">中華電信</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline my-1">
                                <input type="radio" id="radio-telecom-2" name="radioTelecoms" class="custom-control-input" required>
                                <label class="custom-control-label" for="radio-telecom-2">遠傳電信</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline my-1">
                                <input type="radio" id="radio-telecom-3" name="radioTelecoms" class="custom-control-input" required>
                                <label class="custom-control-label" for="radio-telecom-3">台灣大哥大</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline my-1">
                                <input type="radio" id="radio-telecom-4" name="radioTelecoms" class="custom-control-input" required>
                                <label class="custom-control-label" for="radio-telecom-4">台灣之星</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline my-1">
                                <input type="radio" id="radio-telecom-5" name="radioTelecoms" class="custom-control-input" required>
                                <label class="custom-control-label" for="radio-telecom-5">亞太電信</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-2 align-items-lg-center no-gutters">
                        <label for="" class="col-md-3 col-lg-2 col-form-label">專案價格</label>
                        <div class="col-md-9 col-lg-10">
                            <div class="form-control-plaintext">
                                <span class="text-danger lead">$12,888</span> ~
                                <span class="text-danger lead">$18,888</span>
                            </div>
                        </div>
                    </div>

<!--                                <input type="submit" name="submit" value="Submit">-->
                </form>
                <div class="alert alert-danger text-center m-0 p-1 error" style="display: none;">
                    <i class="fas fa-exclamation-triangle"></i> 請完成款式選擇
                </div>

<!--
                <a class="btn btn-lg btn-outline-primary btn-anchor px-6" href="#section-project">
                    查看專案價格
                </a>
-->
            </div>
        </div>
    </div>
</div>