<div class="section-step container alert bg-warning m-0 mx-auto" id="section-checkout">
    <div class="row align-items-center">
        <div class="col-12 col-sm-4 col-lg-5 order-md-first mb-2 mb-sm-0 d-none d-md-block text-white">
            <div class="lead">Apple iPhone X 256GB</div>
            <div>攜碼 中華電信 699專案<br>預繳$4500 (可抵月租費)</div>
        </div>

        <div class="col-6 col-sm-3 col-md-2 col-lg-3 order-lg-2">
            <div class="h4 text-white font-weight-bold">NT$ 47,800</div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 col-lg-2 order-md-2 order-lg-3 d-none d-sm-block">
            <input id="" type="text" value="1" class="form-control text-center input-number">
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-2 order-md-last">
            <a class="btn btn-block btn-primary" href="#">
                <i class="fas fa-w fa-shopping-cart"></i> 加入購物車
            </a>
        </div>
    </div>
</div>