<div class="section-step" id="section-acc">
    <div class="container mb-8">
        @@include('unit/_step-title.html',{
            title:'@@title'
        })
        @@include('../../comp/_item-list.html',{
            title:'周邊配件',
            slider:true,
            sliderItem:'acc',
            sliderItemNo:'6',
            group: {
                item: [
                {
                    title:'hoda 非滿版鋼化玻璃保護貼 (0.33mm)',
                    img:'assets/images/uploads/prod-acc1.jpg',
                    img2x:'assets/images/uploads/prod-acc1@2x.jpg',
                    priceOrg:'800', price:'590',
                },
                {
                    title:'USB線',
                    img:'assets/images/uploads/prod-acc2.jpg',
                    img2x:'assets/images/uploads/prod-acc2@2x.jpg',
                    priceOrg:'300', price:'190',
                },
                {
                    title:'hoda 非滿版鋼化玻璃保護貼 (0.33mm)',
                    img:'assets/images/uploads/prod-acc1.jpg',
                    img2x:'assets/images/uploads/prod-acc1@2x.jpg',
                    priceOrg:'800', price:'590',
                },
                {
                    title:'USB線',
                    img:'assets/images/uploads/prod-acc2.jpg',
                    img2x:'assets/images/uploads/prod-acc2@2x.jpg',
                    priceOrg:'300', price:'190',
                },
                {
                    title:'hoda 非滿版鋼化玻璃保護貼 (0.33mm)',
                    img:'assets/images/uploads/prod-acc1.jpg',
                    img2x:'assets/images/uploads/prod-acc1@2x.jpg',
                    priceOrg:'800', price:'590',
                },
                {
                    title:'USB線',
                    img:'assets/images/uploads/prod-acc2.jpg',
                    img2x:'assets/images/uploads/prod-acc2@2x.jpg',
                    priceOrg:'300', price:'190',
                },
                {
                    title:'hoda 非滿版鋼化玻璃保護貼 (0.33mm)',
                    img:'assets/images/uploads/prod-acc1.jpg',
                    img2x:'assets/images/uploads/prod-acc1@2x.jpg',
                    priceOrg:'800', price:'590',
                },
                ],
            },
        })
    </div>
</div>