<div class="col-12 col-lg-6 my-2 item">
    <div class="row">
        <div class="col-12 col-md-6">
            <figure class="figure d-block text-center m-0">
                @@if(context.badgeLabel){
                <span class="badge badge-new">@@badgeLabel</span>
                }
                <a href="product-detail.html">
                    <img class="img-fluid mb-2 mx-auto" src="@@img" srcset="@@img2x 2x" alt="@@title">
                </a>
            </figure>
        </div>
        <div class="col-12 col-md-6">
            <a class="text-black text-row-2" href="product-detail.html">
                @@title
            </a>
            <div class="telecom my-1">
                @@if(context.tag1Label){
                <span class="badge badge-cht">@@tag1Label</span>
                <span class="badge badge-fetnet">@@tag2Label</span>
                }
            </div>
            <div class="font-small text-row-3">
                <a class="text-dark" href="product-detail.html">
                    @@desc
                </a>
            </div>
            <div class="my-1">
                <a href="product-detail.html">
                    @@if(context.priceLabel){
                    <span class="text-black font-small">@@priceLabel</span>
                    }
                    <span class="text-danger font-weight-bold">$@@price</span>
                </a>
            </div>
            <div class="text-center text-md-left">
                <a class="btn btn-outline-primary px-6" href="product-detail.html">立即了解</a>
            </div>
        </div>
    </div>
</div>