### Sass ###
.sass-cache/
*.css.map
*.sass.map
*.scss.map

# Dependency directories
node_modules

### NPM ###
package-lock.json

# DS_Store
.DS_Store
app/.DS_Store

# Logs
*.log
logs

# .publish cache
.publish

output
__*
src/html/articles/detail.html
src/html/articles/index.html
src/html/articles/list.html
src/html/articles/tags.html
src/html/articles/tags2.html
src/html/products/brand-all.html
src/html/products/detail.html
src/html/products/review-list.html