@charset "utf-8";

/* ==========================================================================
   Variables
   ========================================================================== */

/* Fonts */
$font-main:  "微軟正黑體", "Microsoft JhengHei", Arial, Helvetica, sans-serif;
$font-title: "微軟正黑體", "Microsoft JhengHei", Arial, Helvetica, sans-serif;

/* Path */
$path-ui:  "../images/ui/";
$path-ui-sub:  "../../images/ui/";
