<!-- global -->
<script src="/assets/javascripts/vendor/popper.min.js"></script>
<script src="/assets/javascripts/vendor/bootstrap.min.js"></script>
<script src="/assets/javascripts/vendor/bootstrap-touchspin.min.js"></script>
<script src="/assets/javascripts/vendor/jquery.pushy.min.js"></script>
<script src="/assets/javascripts/vendor/jquery.slick.min.js"></script>
<script src="/assets/javascripts/vendor/jquery.readmore.min.js"></script>
<script src="/assets/javascripts/custom.js"></script>
<div id="fb-root"></div>