<div class="modal fade" id="modal-review" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title h5 text-black">給予評價</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="" class="col-md-3 col-lg-2 col-form-label">請選擇評分</label>
                        <div class="col-md-9 col-lg-10 py-1">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="radio-5" name="" class="custom-control-input">
                                <label class="custom-control-label text-black" for="radio-5">
                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                </label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="radio-4" name="" class="custom-control-input">
                                <label class="custom-control-label text-black" for="radio-4">
                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                </label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="radio-3" name="" class="custom-control-input">
                                <label class="custom-control-label text-black" for="radio-3">
                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                </label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="radio-2" name="" class="custom-control-input">
                                <label class="custom-control-label text-black" for="radio-2">
                                    <i class="fas fa-star"></i><i class="fas fa-star"></i>
                                </label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="radio-1" name="" class="custom-control-input">
                                <label class="custom-control-label text-black" for="radio-1">
                                    <i class="fas fa-star"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-md-3 col-lg-2 col-form-label">標題</label>
                        <div class="col-md-9 col-lg-10">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-md-3 col-lg-2 col-form-label">內容</label>
                        <div class="col-md-9 col-lg-10">
                            <textarea class="form-control" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary px-5">送出</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>