<div id="kv" class="push">
    <div class="slider-kv">
        <a class="slider-item" href="">
            <img class="img-fluid d-none d-md-block" src="assets/images/uploads/bn-kv1.jpg" alt="">
            <img class="img-fluid d-md-none" src="assets/images/uploads/bn-kv1-mobile.jpg" alt="">
        </a>
        <a class="slider-item" href="">
            <img class="img-fluid d-none d-md-block" src="assets/images/uploads/bn-kv2.jpg" alt="">
            <img class="img-fluid d-md-none" src="assets/images/uploads/bn-kv2-mobile.jpg" alt="">
        </a>
    </div>
    @@if(context.title1){
    <div class="row no-gutters">
        <div class="col-12 col-md-6">
            <a class="card bg-dark text-white border-0" href="article.html">
                <img class="card-img" src="//d3c6c8kv4if4l0.cloudfront.net/spree/store/spree/materials/2737/original/Eventsite_26-16.png?1651127806" alt="">
                <div class="card-img-overlay d-flex p-0">
                    <div class="align-self-end p-2 pt-4 bg-gradient-dark w-100">
                        <div class="text-center">@@title1</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6">
            <a class="card bg-dark text-white border-0" href="article.html">
                <img class="card-img" src="//d3c6c8kv4if4l0.cloudfront.net/spree/store/spree/materials/2738/original/0517_Banner-08.png?1651127837" alt="">
                <div class="card-img-overlay d-flex p-0">
                    <div class="align-self-end p-2 pt-4 bg-gradient-dark w-100">
                        <div class="text-center">@@title2</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    }
</div>