<div class="nav-responsive">
    <ul class="nav nav-tabs" role="tablist">
        @@if(context.tab1Label){
        <li class="nav-item">
            <a class="nav-link lead active" id="tab-nav1" data-toggle="tab" href="#tab-content1" role="tab" aria-selected="true">@@tab1Label</a>
        </li>
        }
        @@if(context.tab2Label){
        <li class="nav-item">
            <a class="nav-link lead" id="tab-nav2" data-toggle="tab" href="#tab-content2" role="tab" aria-selected="false">@@tab2Label</a>
        </li>
        }
        @@if(context.tab3Label){
        <li class="nav-item">
            <a class="nav-link lead" id="tab-nav3" data-toggle="tab" href="#tab-content3" role="tab" aria-selected="false">@@tab3Label</a>
        </li>
        }
    </ul>
</div>
<div class="tab-content">
    @@if(context.tab1Label){
    <div class="tab-pane fade pt-2 show active" id="tab-content1" role="tabpanel">
        @@include('_item-list.html',{
            sliderItem:'6',
            group: {
                item: [
                {
                    title:'SAMSUNG Galaxy M53 5G',
                    img:'//d2lfcsub12kx0l.cloudfront.net/tw/product/img/SAMSUNG_samsung_galaxy_m53_5g_0425034325294_160x120.jpg',
                    img2x:'//d2lfcsub12kx0l.cloudfront.net/tw/product/img/SAMSUNG_samsung_galaxy_m53_5g_0425034325294_360x270.jpg',
                    badge1Label:'中華', badge2Label:'遠傳',
                    priceLabel:'最低專案價', price:'15,000',
                },
                {
                    title:'OPPO Find X5 Pro',
                    img:'//d2lfcsub12kx0l.cloudfront.net/tw/product/img/OPPO_oppo_find_x5_pro_0422083622544_160x120.jpg',
                    img2x:'//d2lfcsub12kx0l.cloudfront.net/tw/product/img/OPPO_oppo_find_x5_pro_0422083622544_360x270.jpg',
                    badge1Label:'中華', badge2Label:'遠傳',
                    priceLabel:'最低專案價', price:'23,000',
                },
                {
                    title:'SAMSUNG Galaxy M53 5G',
                    img:'//d2lfcsub12kx0l.cloudfront.net/tw/product/img/SAMSUNG_samsung_galaxy_m53_5g_0425034325294_160x120.jpg',
                    img2x:'//d2lfcsub12kx0l.cloudfront.net/tw/product/img/SAMSUNG_samsung_galaxy_m53_5g_0425034325294_360x270.jpg',
                    badge1Label:'中華', badge2Label:'遠傳',
                    priceLabel:'最低專案價', price:'15,000',
                },
                {
                    title:'OPPO Find X5 Pro',
                    img:'//d2lfcsub12kx0l.cloudfront.net/tw/product/img/OPPO_oppo_find_x5_pro_0422083622544_160x120.jpg',
                    img2x:'//d2lfcsub12kx0l.cloudfront.net/tw/product/img/OPPO_oppo_find_x5_pro_0422083622544_360x270.jpg',
                    badge1Label:'中華', badge2Label:'遠傳',
                    priceLabel:'最低專案價', price:'23,000',
                },
                {
                    title:'SAMSUNG Galaxy M53 5G',
                    img:'//d2lfcsub12kx0l.cloudfront.net/tw/product/img/SAMSUNG_samsung_galaxy_m53_5g_0425034325294_160x120.jpg',
                    img2x:'//d2lfcsub12kx0l.cloudfront.net/tw/product/img/SAMSUNG_samsung_galaxy_m53_5g_0425034325294_360x270.jpg',
                    badge1Label:'中華', badge2Label:'遠傳',
                    priceLabel:'最低專案價', price:'15,000',
                },
                {
                    title:'OPPO Find X5 Pro',
                    img:'//d2lfcsub12kx0l.cloudfront.net/tw/product/img/OPPO_oppo_find_x5_pro_0422083622544_160x120.jpg',
                    img2x:'//d2lfcsub12kx0l.cloudfront.net/tw/product/img/OPPO_oppo_find_x5_pro_0422083622544_360x270.jpg',
                    badge1Label:'中華', badge2Label:'遠傳',
                    priceLabel:'最低專案價', price:'23,000',
                },
                ],
            },
        })
    </div>
    }
    @@if(context.tab2Label){
    <div class="tab-pane fade pt-2" id="tab-content2" role="tabpanel">
        @@include('_item-list.html',{
            sliderItem:'6',
            group: {
                item: [
                {
                    title:'SAMSUNG Galaxy M53 5G',
                    img:'//d2lfcsub12kx0l.cloudfront.net/tw/product/img/SAMSUNG_samsung_galaxy_m53_5g_0425034325294_160x120.jpg',
                    img2x:'//d2lfcsub12kx0l.cloudfront.net/tw/product/img/SAMSUNG_samsung_galaxy_m53_5g_0425034325294_360x270.jpg',
                    badge1Label:'中華', badge2Label:'遠傳',
                    priceLabel:'最低專案價', price:'15,000',
                },
                {
                    title:'OPPO Find X5 Pro',
                    img:'//d2lfcsub12kx0l.cloudfront.net/tw/product/img/OPPO_oppo_find_x5_pro_0422083622544_160x120.jpg',
                    img2x:'//d2lfcsub12kx0l.cloudfront.net/tw/product/img/OPPO_oppo_find_x5_pro_0422083622544_360x270.jpg',
                    badge1Label:'中華', badge2Label:'遠傳',
                    priceLabel:'最低專案價', price:'23,000',
                },
                {
                    title:'SAMSUNG Galaxy M53 5G',
                    img:'//d2lfcsub12kx0l.cloudfront.net/tw/product/img/SAMSUNG_samsung_galaxy_m53_5g_0425034325294_160x120.jpg',
                    img2x:'//d2lfcsub12kx0l.cloudfront.net/tw/product/img/SAMSUNG_samsung_galaxy_m53_5g_0425034325294_360x270.jpg',
                    badge1Label:'中華', badge2Label:'遠傳',
                    priceLabel:'最低專案價', price:'15,000',
                },
                ],
            },
        })
    </div>
    }
    @@if(context.tab3Label){
    <div class="tab-pane fade pt-2" id="tab-content3" role="tabpanel">
        @@include('_item-list.html',{
            sliderItem:'6',
            group: {
                item: [
                {
                    title:'hoda 非滿版鋼化玻璃保護貼 (0.33mm)',
                    img:'assets/images/uploads/prod-acc1.jpg',
                    img2x:'assets/images/uploads/prod-acc1@2x.jpg',
                    price:'590',
                },
                {
                    title:'USB線',
                    img:'assets/images/uploads/prod-acc2.jpg',
                    img2x:'assets/images/uploads/prod-acc2@2x.jpg',
                    price:'199',
                },
                ],
            },
        })
    </div>
    }
</div>