.nav-main {
    .nav-link {
        position: relative;
    }
    .badge {
        position: absolute;
        right: 3px;
        top: 3px;
    }
    .btn-outline-primary {
        border: 1px solid $gray-400;
        border-top: 0;
        border-bottom: 0;
    }
    .dropdown-menu {
        .nav {
            .nav-link {
                span {
                    padding-right: 1rem;
                    border-right: 1px solid $gray-300;
                }
            }
        }
    }
//    .dropdown:hover>.dropdown-menu {
//            display: block;
//    }
}

.pushy {
    .list-group {
        .list-group-item {
            border-left: 0;
            border-right: 0;
            border-radius: 0;
            i {
                margin-right: 5px;
                line-height: 1;
            }
        }
    }
}

.nav-search {
    .nav-link {
        padding: 1rem;
        color: $warning;
        border: 1px solid $warning;
        &:hover,
        &.active {
            background-color: $warning;
            color: $white;
        }
    }
}

.nav-tabs {
    .nav-item {
        margin-right: .5rem;
        &:last-child,
        &:only-child {
            margin-right: 0;
        }
    }
}

.nav-fixed {
    position: fixed;
    right: 1rem;
    bottom: 6rem;
}

.nav-justified {
    .nav-link {
        &.active {
            background: $primary;
            color: $white;
        }
    }
}

@include media-breakpoint-down(md) {
    .nav-responsive {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        .nav {
            display: block;
            white-space: nowrap;
            .nav-item {
                display: inline-block;
            }
        }
    }
}