.text-gray-3 {
    color: $gray-300;
}
.text-gray-6 {
    color: $gray-600;
}
.text-black {
    color: $black;
}
.text-fb-message {
    color: #00a1f1;
}
.text-line {
    color: #4ecd00;
}


.font-small {
    font-size: $small-font-size;
}

p {
    &:only-child,
    &:last-child {
        margin-bottom: 0;
    }
}

[class^="text-row-"],
[class*="text-row-"] {
    text-overflow:ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.text-row-1 {
    -webkit-line-clamp: 1;
}
.text-row-2 {
    height: 3rem;
    -webkit-line-clamp: 2;
}
.text-row-3 {
    height: 3.5rem;
    -webkit-line-clamp: 3;
}

.title {
    .title-line {
        position: relative;
        span {
            position: relative;
            z-index: 1;
            display: inline-block;
            padding: 0 1rem;
            background: $white;
        }
        &:before,
        &:after {
            position: absolute;
            z-index: 0;
            top: 50%;
            display: block;
            width: 50%;
            height: 1px;
            background: #babfc8;
            content: '';
        }
        &:before {
            left: 0;
        }
        &:after {
            right: 0;
        }
    }
    .h5 {
        font-size: 1.5rem;
    }
}